@{
    ViewData["Title"] = "Get to Know Joel";
}

<h2 class="text-center">Get to Know Joel</h2>

<div class="text-center">
    <p><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></p>
    <p><a href="https://baconsale.com/" target="_blank">Baconsale</a></p>

    <a href="https://baconsale.com/" target="_blank">
        <img src="~/images/BaconsaleKate.jpg" class="img-fluid" alt="Baconsale">
    </a>
</div>
