@{
    ViewData["Title"] = "Home";
}

<h1 class="text-center">The Joel Hilton Film Collection</h1>

<div class="text-center">
    <img src="~/images/joelhilton.jpg" class="img-fluid" alt="Joel Hilton" />
</div>
